<md-tabs md-dynamic-height md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
  <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled">
    <md-tab-label>
      {{ tab.title }}
      <md-icon style="cursor:pointer;height:15px" ng-click="modifyTab(tab, $event)"
        md-svg-icon="assets/img/wrench.svg"></md-icon>
    </md-tab-label>
    <md-tab-body>
      <div style="margin-top: 25px">
        <calc-rscore score="tab.score"></calc-rscore>
      </div>
    </md-tab-body>
  </md-tab>
  <md-tab class="add-tab" ng-click="addTab($event)">
    <md-tab-label>
      <md-icon style="cursor:pointer" md-svg-icon="assets/img/plus.svg"></md-icon>
    </md-tab-label>
  </md-tab>
</md-tabs>
<md-content layout="row" layout-padding>
  <h2>
    Your Overall R Score: <span>{{ overallScore() | number:2 }}</span>
  </h2>
</md-content>
