.google-ad { 
  width: 320px; 
  height: 100px; 
}

@media(min-width: 500px) { 
  .google-ad { 
    width: 468px; 
    height: 60px; 
  }
}

@media(min-width: 800px) { 
  .google-ad { 
    width: 728px; 
    height: 90px;
  }
}
