@import 'compass/css3';
@import 'shared/langButton';
@import url(https://fonts.googleapis.com/css?family=Exo+2:900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

html, body {
  background-color: white;
}

* {
  font-family: Roboto;
}

@media only screen and (min-width: 768px) {
  .desktop-footer {
    margin-top: 10px;
  }
}
