<md-list style="font-size:15px">
  <md-list-item ng-click="navigateTo('data usage', $event)">
    <md-icon md-svg-icon="assets/img/calculator.svg"></md-icon>
    <p>{{ CALC }}</p>
  </md-list-item>
  <md-list-item ng-click="navigateTo('data usage', $event)">
    <md-icon md-svg-icon="assets/img/book-open-variant.svg"></md-icon>
    <p>{{ ABOUT }}</p>
  </md-list-item>
  <md-list-item ng-click="navigateTo('data usage', $event)">
    <md-icon md-svg-icon="assets/img/help-circle.svg"></md-icon>
    <p>{{ ESTIMATE }}</p>
  </md-list-item>
  <md-list-item ng-click="navigateTo('data usage', $event)">
    <md-icon md-svg-icon="assets/img/cloud-check.svg"></md-icon>
    <p>{{ SUBMIT }}</p>
  </md-list-item>
</md-list>
